# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Visual Studio / Rider / VSCode
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity cache / packages cache
**/[Pp]ackages/**/obj/
**/[Pp]ackages/**/Library/

# OS junk
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt